/* ---- reset ---- */

html {
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul {
  margin: 0;
  padding: 0;
}


/* game area */
.container {
  min-height: 80vh;
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  
}

h1{
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Baloo Thambi', cursive;
  font-size: 3rem;
  text-transform: uppercase;
}

p{
  font-family: 'Gaegu', cursive;
  text-align: justify;
  margin: 0 1rem;
  font-size: 1.5rem;
}

article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15rem;
  
}

.button{
  margin-top: 2rem;
  text-decoration: none;
  border-radius: 1.2rem;
  background-color: black;
  color: white;
  padding: 1rem;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Baloo Thambi', cursive;
  text-transform: uppercase;
  
}

.button:hover{
  background-color: pink;
  color: black;
}

.btn-options{
  margin-top: 0.5rem;
  text-decoration: none;
  border-radius: 1.1rem;
  background-color: pink;
  color: black;
  padding: 1rem;
  min-height: 4rem;
  font-family: 'Baloo Thambi', cursive;
  font-size: 1rem;
  text-align: left;
  min-width: 45vw;

}

.btn-options:focus{
  outline: none;
}

.btn-options:hover{
  background-color: black;
  color: white;
}

.spacing{
  padding: 0.5rem;
}


.link{
  color: black;
  font-family: 'Baloo Thambi', cursive;
}

.link:hover{
  color: pink;
  font-family: 'Baloo Thambi', cursive;

}

.image {
  max-height: 20vw;
  max-width: 27vw;
}

#name{
  width : 22vw;
  height: 5vh;
  font-family: 'Gaegu';
  font-size: 1.6rem;
  text-align: left;
  outline: 0;
  border-width: 0 0 2px;
  border-bottom-color: pink;
  
}

#name:focus{
  outline-color: pink;
}


.container-final{
  border-color: pink;
  border-style: double;
  border-width: 1rem;
  width: 100%;
}

.copyright{
  font-size: 0.8rem;
  font-family: 'Baloo Thambi', cursive;
  text-align: center;
}

.diploma-main-top{
  max-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 9vh;
}

.diploma-name{
  background-color: pink;
}


.logo {
  height: 30vh;
}

.diploma-text{
  margin: 5rem 5rem;
}
